body {
  font-family: "Georgia", serif;
  background: #000000;
  margin: 40px;
  padding: 0;
  padding-top: 40px; 
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #500000;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  z-index: 1000;
}

nav a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

.logout-button {
    position: fixed;
    top: 6px;
    right: 6px;
    background-color: #500000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
}

.logout-button:hover {
    background-color: #500000;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.boeken-grid {
  display: grid;
  grid-template-columns: 60px repeat(12, 40px);
  gap: 4px;
  margin: 40px auto;
  width: fit-content;
}

.header {
  background: #750000;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  border: 1px solid #ffffff;
  font-weight: bold;
}

.dag {
  background: #750000;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  border: 1px solid #ffffff;
  font-weight: bold;
}

.vak {
  background: #750000;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.vak.gekozen {
  background: #300000;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.vak.zwart {
  background: #000000;
  border: 1px solid #000000;
  cursor: default;
}
