body {
  font-family: "Georgia", serif;
  background: #000000;
  margin: 40px;
  padding: 0;
  padding-top: 40px; 
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #500000;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  z-index: 1000;
}

nav a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

.logout-button {
    position: fixed;
    top: 6px;
    right: 6px;
    background-color: #500000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
}

.logout-button:hover {
    background-color: #500000;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.lied-grid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 20px;
}

.lied-rij {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.maand-label {
  font-family: "Georgia", serif;
  font-size: 1.3rem;
  color: #ffffff;
  width: 150px;
  text-align: right;
}

.lied-input,
.artiest-input {
  width: 300px;
  padding: 8px;
  background: #750000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  font-family: "Georgia", serif;
  text-align: center;
}
