body {
  font-family: "Georgia", serif;
  background: #000000;
  margin: 40px;
  padding: 0;
  padding-top: 40px; 
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #500000;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  z-index: 1000;
}

nav a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

.logout-button {
    position: fixed;
    top: 6px;
    right: 6px;
    background-color: #500000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
}

.logout-button:hover {
    background-color: #500000;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.woorden-drie {
  display: grid;
  grid-template-columns: repeat(3, 275px);
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}

.box {
  max-width: 450px;
  height: 125px;
  background: #750000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 5px;
  font-family: "Georgia", serif;
  resize: none;
}

.links {
  transform: rotate(-15deg);
}

.midden {
  transform: rotate(0deg);
}

.rechts {
  transform: rotate(15deg);
}
