body {
  font-family: "Georgia", serif;
  background: #000000;
  margin: 40px;
  padding: 0;
  padding-top: 40px; 
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #500000;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  z-index: 1000;
}

nav a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

.logout-button {
    position: fixed;
    top: 6px;
    right: 6px;
    background-color: #500000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
}

.logout-button:hover {
    background-color: #500000;
}

.jaar-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.maandlog-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.maandlog-img {
    width: 70%;
    max-width: 600px;
    border: 3px solid #ffffff;
    border-radius: 12px;
}
